<footer class="bg-[#f1f5f9]">
    <div class="footer-main px-8 pt-20 pb-10 2xl:px-40 xl:px-28 lg:px-12 md:px-8 sm:px-8">
        <div
            class="footer-upper-part grid grid-cols-1 gap-16 2xl:grid-cols-7 xl:grid-cols-7 lg:grid-cols-6 md:grid-cols-4">
            <!-- <div class="footer-upper-part grid grid-cols-7 gap-16 2xl:grid-cols-7 xl:grid-cols-7 lg:grid-cols-6 md:grid-cols-4"> -->
            <div class="hostinger-footer-logo-part col-span-2 mt-[-3rem]">
                <img src="/static/images/logo.svg" class="w-32 h-32" alt="footer logo" srcset="">
                <!-- footer details -->
                <p class="font-medium w-full text-gray-500 text-sm -mt-8 mb-8">We are a web hosting company with a
                    mission to help everyone who goes online succeed.
                    We accomplish this by continuously developing server technology, giving expert assistance, and
                    ensuring a flawless online website hosting experience.</p>

                <!-- payment method logos -->
                <div class="payment-methods-logos-section flex gap-2 cursor-pointer">
                    <img src="/static/images/visa.webp" class="w-12" alt="visa" srcset="">
                    <img src="/static/images/master.webp" class="w-12" alt="master" srcset="">
                    <img src="/static/images/discover.webp" class="w-12" alt="discover" srcset="">
                    <img src="/static/images/club.webp" class="w-12" alt="club" srcset="">
                    <img src="/static/images/upi.webp" class="w-12" alt="upi" srcset="">
                </div>
            </div>
            <!-- hosting part here -->
            <div class="hosting 2xl:col-span-1 xl:col-span-1 lg:col-span-2">
                <div class="hosting-title font-[600] text-xl mb-4">Hosting</div>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Web Hosting</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">VPS Hosting</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Minecraft Server
                    Hosting</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">CyberPanel Hosting
                </a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Cloud Hosting
                </a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">WordPress Hosting
                </a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Email Hosting
                </a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">CMS Hosting
                </a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Ecommerce Hosting
                </a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Free Web Hosting
                </a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Online Store
                </a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Website Builder
                </a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Buy Hosting</a>
            </div>


            <!-- Domain part here -->
            <div class="Domain 2xl:col-span-1 xl:col-span-1 lg:col-span-2">
                <div class="Domain-title font-[600] text-xl mb-4">Domain</div>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500 block ">Domain Name
                    Search</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500 block ">Domain
                    Transfer</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500 block ">Free Domain
                    Name</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500 block ">XYZ Domain</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500 block ">Cheap Domains</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500 block ">Domain
                    Extensions</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500 block ">WHOIS Lookup</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500 block ">Free SSL
                    Certificate</a>
            </div>

            <!-- Information part here -->
            <div class="Information 2xl:col-span-1 xl:col-span-1 lg:col-span-2">
                <div class="Information-title font-[600] text-xl mb-4">Information</div>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Migrate to Hostinger</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">system Status</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Affiliate Program</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Payment Methods</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Rewards</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Pricing</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">sitemap</a>

                <div class="legal-title font-[600] text-xl mb-4">LEGAL</div>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Privacy Policy</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Terms of Service</a>
            </div>

            <!-- Company part here -->
            <div class="Company relative 2xl:col-span-1 xl:col-span-2 lg:col-span-2">
                <div class="Company-title font-[600] text-xl mb-4">Company</div>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">About Hostinger</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Our Technology</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Roadmap</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Customer Care</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Blogs</a>

                <div class="help-title font-[600] text-xl mb-4">Help</div>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Tutorial</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Knowledge Base</a>
                <a href="#" class="font-normal text-base text-gray-500 hover:text-red-500">Report Online Abuse</a>

                <!-- social media icon -->
                <div class="social-media-icons absolute bottom-0 text-black">
                    <i class="fa-brands fa-facebook ml-1 cursor-pointer hover:text-red-600 "></i>
                    <i class="fa-brands fa-instagram ml-1 cursor-pointer hover:text-red-600 "></i>
                    <i class="fa-brands fa-linkedin ml-1 cursor-pointer hover:text-red-600 "></i>
                    <i class="fa-brands fa-twitter ml-1 cursor-pointer hover:text-red-600 "></i>
                    <i class="fa-brands fa-youtube ml-1 cursor-pointer hover:text-red-600 "></i>
                </div>

            </div>


        </div>
    </div>
    <div
        class="footer-bottom-part font-medium text-gray-400 text-sm grid grid-cols-1 gap-4 justify-between border-t border-gray-300 mx-8 pt-6 pb-6 2xl:mx-40 2xl:flex xl:mx-40 xl:flex lg:mx-12 lg:flex md:mx-8 md:flex sm:mx-8 md:flex">
        <p>© 2004-2022 hostinger.in - India’s #1 Web Hosting & Domains provider.</p>
        <p>Prices are listed without VAT</p>
    </div>
</footer>