<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>this is {{pageName}}</h1>

    {%for name in courses%}
    <h3>{{name}}</h3>
    {% endfor %} {% comment %} using if else condition {% endcomment %} 
    {% if count|length > 0 %}
      {%for n in count%} 
      {% if n > 5 %}
         <p>{{n}}</p>
       {% endif %}
     {%endfor%}
     {% else %} the list is empty 
    {% endif %}
  </body>
</html>
